@{
    ViewBag.Title = "Login Failed";
}

<div class="main">
    <div class="main-header">
        <h2>Login Failure</h2>
    </div>
    <div class="content-container">
        <div>
            <p>
                <b>Error information</b>
                <br />
                There was an error while trying to authenticate you, please try again.
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <b>Error:</b>
                    <br />
                    @ViewBag.Error
                    <br />
                }
                @if (!string.IsNullOrEmpty(ViewBag.ErrorDetails))
                {
                    <b>Error Details:</b>
                    <br />
                    @ViewBag.ErrorDetails
                    <br />
                }
            </p>
        </div>
    </div>
    <div class="clear-float"></div>
</div>